* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #2C2F33;
}

p, span, div, a, h1, h2, h3, h4, h5, h6 {
  font-family: Rubik, Arial, sans-serif;
  color: #fff;
}

p {
  font-weight: 100;
}

h1 {
  font-size: 3em;
  font-weight: 500;
}

h2 {
  font-size: 2em;
  font-weight: 500;
}

h3 {
  font-size: 1.7em;
  font-weight: 500;
}

a {
  transition: color 0.3s ease;
}

a:hover {
  color: #5865F2;
  transition: color 0.3s ease;
}

img {
  box-shadow: 0px 5px 15px 0px #10121542;
}

code {
  display: unset;
  padding: 3px 6px;
  background-color: #202225;
  border-radius: 6px;
}

#chat {
  position: fixed;
  height: 100%;
  width: 100%;
  right: calc(50% + 535px);
  background-color: #36383c;
}

#content {
  margin: 0px auto;
  width: 1000px;
  padding: 70px 20px 40px;
}

.avatar {
  display: inline-block;
  position: relative;
  margin-right: 30px;
}

.avatar img {
  border-radius: 50%;
  width: 85px;
}

.avatar::after {
  content: " ";
  width: 25px;
  height: 25px;
  background-color: #22c150;
  border: 6px solid #2C2F33;
  display: block;
  position: absolute;
  bottom: 0;
  right: -3px;
  border-radius: 50%;
}

.button {
  display: inline-block;
  padding: 15px 30px;
  margin-right: 25px;
  color: #fff;
  border: 2px solid #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2em;
  border-radius: 10px;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.button:hover,
.button:active {
  color: #5865F2;
  border-color: #5865F2;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.button-icon {
  vertical-align: middle;
  margin-right: 10px;
}

.card-info {
  display: inline-block;
}

.commands {
  vertical-align: top;
}

.command {
  margin-bottom: 23px;
}

.command .command__title {
  font-size: 1.4em;
  margin-bottom: 5px;
  margin-left: -6px;
}

.command .command__detail {
  line-height: 22px;
}

.name {
  margin-right: 14px;
}

.name-line {
  display: flex;
  align-items: center;
}

.scroll-bar {
  position: absolute;
  width: 24px;
  top: -20px;
  right: 10px;
  bottom: 50px;
  background: #2c2f33;
  border-radius: 30px;
}

.scroll-bar__thumb {
  background-color: #202225;
  width: 100%;
  height: 55%;
  border-radius: 30px;
  margin-top: 100px;
}

.section {
  margin-bottom: 70px;
}

.section.row > * {
  display: inline-block;
  width: calc(50% - 50px);
  margin-bottom: 70px
}

.section.row > :not(:last-child) {
  margin-right: 40px;
}

.status {
  color: #9c9c9c;
  font-weight: 300;
  line-height: 32pt;
}

.tag {
  display: flex;
  position: relative;
  color: white;
  background-color: #5865F2;
  border-radius: 6px;
  padding: 3px 12px 3px;
  top: -3px;
}

.tag-icon {
  width: 25px;
  margin-right: 10px;
}

.text-bar {
  position: absolute;
  height: 100px;
  right: 70px;
  bottom: 50px;
  left: 0px;
  background-color: #46474a;
  border-radius: 20px;
}

@media screen and (max-width: 990px) {
  #chat {
    display: none;
  }

  #content {
    width: auto;
  }
}

@media screen and (max-width: 835px) {
  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-weight: 300;
  }

  #content {
    padding-top: 25px;
    width: 430px;
  }

  .avatar {
    margin-right: 15px;
  }

  .avatar::after {
    width: 15px;
    height: 15px;
    border-width: 4px;
  }

  .avatar img {
    width: 50px;
  }

  .button {
    padding: 10px 20px;
    margin-right: 0px;
    border-width: 1px;
    font-weight: 500;
    font-size: 1.1em;
    border-radius: 8px;
  }

  .commands {
    text-align: left;
  }

  .section {
    margin-bottom: 40px;
    text-align: center;
  }

  .section.row > * {
    display: block;
    width: unset;
    margin: 0px auto 40px;
  }

  .section.row > :not(:last-child) {
    margin-right: auto;
  }

  .status {
    line-height: 20pt;
    text-align: left;
  }

  .tag {
    padding: 3px 7px 1px;
    border-radius: 3px;
  }

  .tag-icon {
    width: 15px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 470px) {
  .section.row > * {
    width: 100%;
  }
}
